# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node
node_modules/
npm-debug.log*

# Vite
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Fichiers Excel temporaires
~$*.xlsx

# Archives
_archives/

# Documentation générée
Documentation_Technique_OCP.docx

